.kaufman {
    align-items: center;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding: 90px 0;
  }